* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: auto; */
  width: 100vw;
  background: rgb(130, 90, 44, 0.3);
}
